NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_JOIA_WHATSAPP=393513939725
SANITY_API_READ_TOKEN=
SANITY_REVALIDATE_SECRET=
RESEND_API_KEY=
PRIVATE_BRIEF_EMAIL_TO=info@joiabuilding.com
PRIVATE_BRIEF_EMAIL_FROM=
